h1 {
    padding: 50px 0;
    text-align: center;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

#big-con {
    width: 832px;
    height: 832px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    flex: 0 0 auto;
}

.small-con {
    border: 1px solid rosybrown;
    height: 50px;
    width: 50px;
    flex: 1 0 auto;
}