h1 {
    padding: 50px 0;
    text-align: center;
}

#big-con {
    width: 500px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 2px solid black;
    justify-content: center;
}

.small-con {
    border: 2px solid gainsboro;
    background-color: white;
    width: 25px;
    height: 25px;
    flex-grow: 1;
}

.small-con:last-child {
    display: none;
}

#main {
    background-color: rgb(125, 121, 121);
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}