body {
    display: flex;
    flex-direction: column;
}

img {
    width: 150px;
}

#header {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 8px;
}

.welcome span {
    color: salmon;
}

h1 {
    letter-spacing: 5px;
    font-size: 50px;
    margin: 0;
    align-self: center;
    letter-spacing: -1.5px;
}

#author {
    font-size: 20px;
    padding: 0;
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: salmon;
}

#main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 30px;
}

#big-con {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0;
    margin-top: 30px;
}

.grid-box {
    border: 1px solid rgb(212, 210, 210);
    box-sizing: border-box;
}

#buttons {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
}

.selections {
    box-sizing: border-box;
    width: 150px;
    padding: 15px 0px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
}

/* Grid slider styling */
#sliderCon, p {
    padding: 0;
    margin: 0;
    font-size: 25px;
    width: 200px;
}

#slider {
    -webkit-appearance: none;
    background: #cdbaba;
    border-radius: 10px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    outline: none;
    width: 210px;
    height: 7px;
    margin-bottom: 25px;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background: salmon;
}

/* Color button */

#colorPicker {
    width: 90px;
    height: 40px;
    cursor: pointer;
    border: none;
}

#Color {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* RGB */

#RGB:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
    color: whitesmoke;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}